.search-box-mobile
  i.icon-search#search
  =form_tag(search_path, :method => "get", id: "search-form") do
    = text_field_tag :search, params[:search], autocomplete: :off, id: "search"
    = submit_tag 'Search', class: "submit-button"