.navbar
  .left
    =link_to "/" do
      =image_tag "logo.png"
    =link_to 'Hacker News'.upcase,"/", class: 'title'
    =link_to "submit", "https://news.ycombinator.com/submit"
  .right
    .search-box
      i.icon-search#search
      =form_tag(search_path, :method => "get", id: "search-form") do
        = text_field_tag :search, params[:search], autocomplete: :off, id: "search"
        = submit_tag 'Search', class: "submit-button"
    =link_to "login", "https://news.ycombinator.com/login?goto=news"

.navbar-mobile
  .left
    =link_to "/" do
      =image_tag "logo.png"
    =link_to 'Hacker News'.upcase,"/", class: 'title'
  .right
    =link_to "submit", "https://news.ycombinator.com/submit"
    =link_to "login", "https://news.ycombinator.com/login?goto=news"
