- @stories.each_with_index do |story,i|
	.story-box
	  p.index="#{i+1}."
	  .text-box
	    =link_to story[:story]['url']
	      p.text=story[:story]['title']
	    p.info="#{time_ago_in_words(DateTime.strptime(story[:story]['time'].to_s,'%s')).remove("about","almost","over")} ago"
	    -if story[:comments] != 0
	      =link_to story_path(story[:story]["id"])
	        p.info="| #{story[:comments]} comments"
	    -else
	      p.info="| #{story[:comments]} comments"
