.news-box
  =link_to @story[:story]['url']
    p.story=@story[:story]['title']
  - @story[:comments].each_with_index do |comment,i|
    .comment-box
      .text-box
      	 =render "text", comment: comment
         p.info="#{time_ago_in_words(DateTime.strptime(comment['time'].to_s,'%s')).remove("about","almost","over")} ago"
