.navbar,.navbar-mobile
	background-color: rgb(255, 102, 0) !important
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	img
		height: 30px
		border: 1px solid white
		vertical-align: middle
	a,.label
		font-size: 12px
		color: black
		margin: 0 
		padding: 10px
		&.title
			margin: 0
	.label
		display: inline-block
		margin: 0
	.left,.right
		display: flex
		align-items: center
		justify-content: center

.submit-button
	background: transparent
	border-color: black
	margin-left: 5px
	cursor: pointer
.navbar-mobile
	display: none
.search-box-mobile
	display: none
	align-items: center
	justify-content: center
	position: relative
	background: rgb(255, 102, 0)
	padding: 10px
	width: 100%


@media (max-width: 600px)
	.navbar-mobile
		display: flex
	.navbar
		display: none
	.search-box-mobile
		display: flex