.news-box
	padding-top: 10px
	width: 100%
	height: 100%
	min-height: 100vh
	#word
		background-color: yellow
	.story-box
		padding: 5px 20px
		width: 100%
		a
			color: black
		.text-box
			display: inline-block
			p
				display: block
		p
			font-size: 12px
			display: inline-block
			&.index
				color: #828282
				vertical-align: top
				margin-right: 5px
			&.text
				display: block
			&.info
				color: #828282
				display: inline-block
				margin-right: 5px
				text-align: left
				font-size: 10px


@media (max-width: 600px)
	.story-box
		display: inline-flex
		word-break: break-word
		p.index
			word-break: normal