.news-box
	padding-top: 10px
	width: 100%
	height: 100%
	a
		color: black
	p.story
		font-size: 14px
		font-weight: bold
		margin-left: 20px
	.comment-box
		padding: 10px 20px
		.text-box
			display: inline-block
			p
				display: block
		p
			font-size: 12px
			display: inline-block
			&.text
				display: block
			&.info
				color: #828282
				display: inline-block
				margin-right: 5px
				text-align: left
				font-size: 10px


@media (max-width: 600px)
	.comment-box
		display: inline-flex
		word-break: break-word