.search data-controller="search"
.word data-target=@word
.news-box
  - @stories.each_with_index do |story,i|
    .story-box
      p.index="#{i+1}."
      .text-box
        =link_to story[:url]
          p.text #{story[:title]} 
        p.info="#{time_ago_in_words(story[:time].to_datetime).remove("about","almost","over")} ago" 
        -if story[:comments] != 0
          =link_to story_path(story[:id])
            p.info="| #{story[:comments]} comments"
        -else
          p.info="| #{story[:comments]} comments"
