doctype html
html
  head
    title Hacker News
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    meta name="turbolinks-cache-control" content="no-cache"

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
  
  body
    = render 'shared/header'
    = yield
    = render 'shared/footer'